div > a {
  text-decoration: none;
  color: inherit;
}

$lightmode-blue-base: rgba(0, 100, 255, 0.8);
$lightmode-blue-secondary: rgba(0, 100, 255, 0.75);
a {
  padding: 11.75px;
  margin: 0px;
  color:rgba(0, 0, 0, 0);
  /* color: $lightmode-blue-base;
  visibility: hidden; */
  height: 0.1px;
  width: 100px;
  float: left;
}
/*a:hover {
  padding: 20px;
  cursor: pointer;
  background: rgba(0, 0, 255, 0.4);
  color: white;
  max-height: 40px;
} */
.nav {
  background: linear-gradient(to right, $lightmode-blue-base, $lightmode-blue-secondary);
  position: fixed;
  color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
}
.nav:hover {
  height: 50px;
  display: block;
}
.login {
  float: right;
}
.google {
  margin: 0px;
  /* color: $lightmode-blue-base;
  visibility: hidden; */
  height: 0.1px;
  width: 100px;
  display: none;
  float: right;
  margin:auto;
  width:max-content;
}